body
{

	
}

h1
{
	font-size: 3em;

}

.container
{
  width: 960px;
  background-color: white;
  /*background : #C0D9D9 url(images/fondo.gif) repeat; */
   font : 8pt Arial; 
   color : #888888; 
   margin : 20px 0px 20px 0px; 
   text-align: left; 

}
   .columna90
   {
   	width: 90%;
   }

   .columna10
   {
   	width: 10%;
   }